/* Create the module, and only by the name can include whole utilities on the UI component */

.shape {
    height: 0;
    width: 0;
    border-bottom:  30px solid black;;
    border-left:  20px solid transparent;;
    border-right: 20px solid transparent;
}